<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll hat" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#about">關於我們</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">服務內容</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">團隊成員</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#consultant">核心顧問</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">預約使用</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">留學生為準留學生所創</div>
                <div class="intro-heading">完整DIY留學申請服務</div>
                <a href="#about" class="page-scroll btn btn-xl">瞭解更多</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="about" class="about font-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">關於我們</h2>
                    <h3 class="section-subheading">我們是來自於普渡大學的研究生, 我們明白準備留學是一條漫長繁瑣的路。<br>然而，每個人都有能力自己完成申請出國留學，並有很大的機會申請上理想的學校。<br>我們成立了APPLYTE(Application in a Lite Way)，希望將自助申請留學的門檻降低，指引你從留學新手逐步邁向留學生！<br>我們做得到，你也一定可以。</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">我們瞭解你的問題與需求</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">想要有一個地方彙整完整科系資訊</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">時間有限, 面臨各校申請進度無法有效管理</h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-times fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">想和當地學長姐聊聊, 卻沒有人脈資源</h4>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">服務內容</h2>
                    <h3 class="section-subheading text-muted">個人申請助理與顧問平台</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">全方位留學資訊搜尋引擎</h4>
                    <p>
                        <ul class="text-muted">
                            <li class="fa fa-check">學校科系資訊</li><br>
                            <li class="fa fa-check">氣候環境</li><br>
                            <li class="fa fa-check">鄰近產業聚落</li><br>
                            <li class="fa fa-check">研究領域與教授資訊</li><br>
                            <li class="fa fa-check">歷屆入取學長姐背景資料</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">即時進度管理</h4>
                    <p>
                        <ul class="text-muted">
                            <li class="fa fa-check">百分比視覺化各校資料準備進度</li>
                            <li class="fa fa-check">系統主動追蹤Deadline提醒進度</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">串連校友人脈</h4>
                    <p>
                        <ul class="text-muted">
                            <li class="fa fa-check">為你找到申請科系校友, 一對一解答疑惑</li>
                            <li class="fa fa-check">連結申請同科系的戰友, 一起討論並肩作戰 </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="team-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">團隊成員</h2>
                    <h3 class="section-subheading text-muted">來自美國, 加拿大, 香港, 台灣的創業團隊</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag("rsz_bruceweng.jpg", class: "img-responsive img-circle" , alt:"") %>
                        <h4 class="section-heading">Bruce Weng Co-founder</h4>
                        <p class="text-muted height-120">Purdue University<br> Mechanical Engineering MS</p>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag("rsz_ellen.jpg", class: "img-responsive img-circle", alt:"") %>
                        <h4 class="section-heading">Ellen Lai Co-founder</h4>
                        <p class="text-muted height-120">Purdue University<br> Computer Science PhD</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag("rsz_sam1.jpg", class: "img-responsive img-circle", alt:"") %>
                        <h4 class="section-heading">Sam Ling Co-founder</h4>
                        <p class="text-muted height-120">Purdue University<br> Computer Science MS</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag("rsz_kane.jpg", class: "img-responsive img-circle", alt:"") %>
                        <h4 class="section-heading">Kane Yang Co-founder</h4>
                        <p class="text-muted height-120">Purdue University<br>Computer and Information Technology MS</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag("rsz_cyiu.png", class: "img-responsive img-circle", alt:"") %>
                        <h4 class="section-heading">SzeYiu Chau Co-founder</h4>
                        <p class="text-muted height-120">Purdue University<br> Computer Science PhD</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Consultant Section -->
    <section id="consultant" class="consultant-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading font-white">核心顧問</h2>
                    <h3 class="section-subheading text-muted">來自頂尖名校的校友顧問群</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 font-white">
                    <div class="team-member">
                        <%= image_tag("rsz_bernard.jpg", class: "img-responsive img-circle", alt:"") %>
                        <h4 class="section-heading">Bernard</h4>
                        <p class="text-muted height-120">MIT Sloan MBA<br>University of Waterloo<br> Electrical Engineering BS</p>

                    </div>
                </div>
                <div class="col-sm-4 font-white">
                    <div class="team-member">
                        <%= image_tag("rsz_evelyn.jpg", class: "img-responsive img-circle", alt:"") %>
                        <h4 class="section-heading">Evelyn</h4>
                        <p class="text-muted height-120">Carnegie Mellon University<br> Arts Management MS</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">預約使用</h2>
                    <h3 class="section-subheading text-muted">留下你的Email, 預約成為首批使用者, 我們將於八月底推出Beta版本,<br> 協助你申請2016 Fall Program </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <%= form_for @admin, :url => admins_path, :html => { :id => "contactForm", :class => "sentMessage" } do |f| %>
                                    <%= f.text_field :email, :placeholder => "Your Email Here", :class => "form-control", :id => :user_email %>

                                      <div id="display-error">
                                        <% if @admin.errors[:email].present? %>
                                       <p class="help-block text-danger">請輸入正確的Email</p>
                                        <% end %>
                                       </div>

                                        <div class="col-lg-12 text-center">
                                            <br><%= f.submit "限量免費體驗", :class => "btn btn-xl" %>
                                        </div>
                                    <% end %>

<script>
    function validateEmail(email) {
        var re = /^[^\s\n@]*[^\s\n\.@]\@[^\s\n\.@][^\s\n@]*(?=\.[^\s\.\n @]+$)\.[^\s\.\n @]+$/;

        return re.test(email);
        // return true;
    }

    $("#contactForm").on("submit", function(e){
        var block = $("#display-error")
        var user_email = $("#user_email");
        var email = user_email.val();

        if (  email == "" || !validateEmail(email) ) {
            e.preventDefault();
            block.replaceWith('<p class="help-block text-danger">請輸入正確的Email</p>');
        }
    })
</script>


                                  <!--   <input type="text" name="email" class="form-control" placeholder="Your Email Here" id="email" required data-validation-required-message="Please enter your Email.">
                                    <p class="help-block text-danger"></p>
                                </div>

                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">限量免費體驗</button> -->
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; APPLYTE 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                       <!--  <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://www.facebook.com/applyte.tw?fref=ts"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://applytetw.wordpress.com/"><i class="fa fa-wordpress"></i></a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
                <!-- <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
</body>